<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid fundo">
            <a class="navbar-brand fundo espaco" href="#">Alunos</a>
            <div class="collapse navbar-collapse fundo" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="alunos">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="livros">Livros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="emprestimos">Emprestimos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cadastrolivro">Cadastro_Livro</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2 style="text-align: center;">Alunos</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {% for alunos in alunos %}
            <tr>
                <th scope="row">{{alunos.id}}</th>
                <td>{{alunos.nome}}</td>
                <td>{{alunos.email}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
<style>
    body{
        background-color: rgb(212, 212, 212);
    }
    .container{
        margin: 70px;
        padding: 30px;
        background-color: white;
        border-radius: 15px;
    }
    .fundo{
        background-color: white;
    }
    .espaco{
        margin:0px 20px 0px 40px ;
        width: 100px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>

